<h2>List issues</h2>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">IssuetypeHref</th>
                <th scope="col">Location</th>
                <th scope="col">CreatedAt</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let issue of issues; let index = index; "
                scope="row">
                <td (click)="onSelect(issue)">{{index+1}}</td>
                <td (click)="onSelect(issue)">{{issue.description}}</td>
                <td (click)="onSelect(issue)">{{issue.issueTypeHref}}</td>
                <td (click)="onSelect(issue)">{{issue.location.coordinates}}</td>
                <td (click)="onSelect(issue)">{{issue.createdAt}}</td>
            </tr>
        </tbody>
    </table>
</div>
<button (click)="getIssuesList()">Refresh the list</button>