<div class="container-fluid my-container">
    <div class="row my-row">
        <!-- Main row -->
        <div class="container-fluid col-4 my-container"
             col-4>
            <!-- Container for the Map-->
            <!-- <app-map>Map</app-map> -->
            <app-map [addNewMarkerAllowed]=addNewMarkerAllowed>">Map</app-map>
        </div>
        <div class="container-fluid col-8 my-container">
            <h4 class="">Search</h4>
            <div class="form-group mb-4">
                <input class="form-control"
                       type="text"
                       [(ngModel)]="searchText"
                       placeholder="keyword">
            </div>
            <h4 class="">Filter by state</h4>

            <div class="form-group mb-4">
                <label class="mr-3"
                       *ngFor="let state of checkboxesDataList; let i = index">
                    <input id="state{{i}}"
                           name="states"
                           type="radio"
                           [(value)]="state.href"
                           [(ngModel)]="selectedState.href"
                           (change)="applyFilterByText(selectedState.href)">
                    {{state.label}}</label>
                <!-- <div>Selected : {{selectedState.href}}</div> -->
                <!-- <input class="
                           form-control"
                       type="text"
                       [(ngModel)]="searchState"
                       placeholder="keyword">
                <button type="button"
                        class="btn btn-primary"
                        (click)="applyFilterByText(searchState)">Apply
                </button> -->
                <!-- <code>
                    {{selectedItemsList | json}}
                </code> -->
            </div>

            <ng-template #noResults>
                <p>No results found for "{{searchText}}".</p>
            </ng-template>

            <div class="row my-row">
                <div class="col-lg-6"
                     *ngFor="let issue of displayedIssues | filter : searchText ; let index = index;"
                     scope="row">
                    <div class="card border-secondary mr-2 mb-3">
                        <div class="card-header border-0">
                            <img src="{{issue.imageUrl}}"
                                 alt=""
                                 width="100">
                            <span class="badge badge-success float-right">
                                <h5>{{issue.state}}</h5>
                            </span>
                            <span class="badge badge-secondary float-right mr-2">
                                <h5>{{this.issueTypeService.getIssueDescriptionFromTypeHref(issueTypes, issue.issueTypeHref)}}
                                </h5>
                            </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{issue.description}}
                            </p>
                            <hr>
                            <div class="float-left">
                                <p>Tags:
                                    <span *ngFor="let tag of issue.tags; let i = index;"
                                          class="badge badge-warning ml-1 ">{{tag}}</span>
                                </p>
                            </div>
                            <div class="float-right">
                                <button type="button"
                                        class="btn btn-primary mr-1"
                                        (click)="onEditIssue(issue.id)">Edit</button>
                                <button type="button"
                                        class="btn btn-primary"
                                        (click)="onEditComments(issue.id)">See comments
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button (click)="getIssuesList()">Refresh list</button>

<div>
    <h2>All Issues (not filtered)</h2>
    <table class="table table-hover table-bordered"
           *ngIf="(allIssues.length >0); else noResults">
        <thead>
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Comments</th>
                <th scope="col">#</th>
                <!-- <th scope="col">AssignedHref</th> -->
                <th scope="col">CreatedAt</th>
                <!-- <th scope="col">CreatorHref</th> -->
                <th scope="col">Description</th>
                <!-- <th scope="col">Href</th> -->
                <th scope="col">Id</th>
                <th scope="col">ImageURL</th>
                <th scope="col">additionnalImageURLs</th>
                <!-- <th scope="col">IssuetypeHref</th> -->
                <th scope="col">Location</th>
                <!-- <th scope="col">State</th> -->
                <th scope="col">Tags</th>
                <!-- <th scope="col">UpdatedAt</th> -->

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let issue of allIssues ; let index = index; "
                scope="row">
                <td>
                    <button (click)="onEditIssue(issue.id)">Edit</button>
                    <button (click)="onEditComments(issue.id)">Edit comments</button>
                </td>
                <td>
                    <button (click)="getIssueComments(issue.id)">Load Comments</button>
                </td>
                <td (click)="onSelect(issue)">{{index+1}}</td>
                <!-- <td (click)="onSelect(issue)">{{issue.assigneeHref}}</td> -->
                <td (click)="onSelect(issue)">{{issue.createdAt}}</td>
                <!-- <td (click)="onSelect(issue)">{{issue.creatorHref}}</td> -->
                <td (click)="onSelect(issue)">{{issue.description}}</td>
                <!-- <td (click)="onSelect(issue)">{{issue.href}}</td> -->
                <td (click)="onSelect(issue)">{{issue.id}}</td>
                <td (click)="onSelect(issue)">{{issue.imageUrl}}</td>
                <td (click)="onSelect(issue)">{{issue.additionalImageUrls}}</td>
                <!-- <td (click)="onSelect(issue)">{{issue.issueTypeHref}}</td> -->
                <td (click)="onSelect(issue)">{{issue.location.coordinates[0]}}
                    {{issue.location.coordinates[1]}}</td>
                <!-- <td (click)="onSelect(issue)">{{issue.state}}</td> -->
                <td (click)="onSelect(issue)">{{issue.tags}}</td>
                <!-- <td (click)="onSelect(issue)">{{issue.updatedAt}}</td> -->
            </tr>
        </tbody>
    </table>
</div>