<!-- <button (click)="addIssuesMarkers()">Display markers</button> -->
<div class="container-fluid">
        <button *ngIf="changeIssueMarkerAllowed"
                type="button"
                (click)="useCurrentUserlocation()"><i class="fa fa-street-view"></i> Use your current location</button>
        <div class="map"
             leaflet
             [leafletOptions]="mapOptions"
             [leafletLayers]="mapMarkers"
             (leafletMapReady)="initializeMap($event)"
             (leafletClick)="onMapClick($event)">
                [leafletFitBounds]="mapFitToBounds"
        </div>
        <!-- <div>Point {{this.mapPoint | json}}</div> -->
</div>