<div class="container-fluid">
   <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <a class="navbar-brand"
         href="#">Citizen Engagement by JFS / Renan (BE)</a>
      <button class="navbar-toggler navbar-toggler-right"
              type="button"
              (click)="isMenuCollapsed = !isMenuCollapsed"
              [attr.aria-expanded]="!isMenuCollapsed"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
           [collapse]=isMenuCollapsed
           id="navbarCollapse">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li *ngIf="isUserLogged"
                class="nav-item mt-1">
               <a class="nav-link"
                  routerLink="/seeissues"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">See issues</a>
            </li>
            <li *ngIf="isUserLogged"
                class="nav-item mt-1">
               <a class="nav-link"
                  routerLink="/addissue"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Add an issue</a>
            </li>
            <li *ngIf="isLoggedUserStaff && isUserLogged"
                class="nav-item mt-1">
               <a class="nav-link"
                  routerLink="/editissue/5f286ad44916cb0016592c9b"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Staff ONLY</a>
            </li>
            <li *ngIf="isUserLogged"
                class="nav-item mt-1">
               <a class="nav-link"
                  routerLink="/debugging"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Debugging</a>
            </li>
            <li class="nav-item mt-1">
               <a class="nav-link"
                  *ngIf="!isUserLogged"
                  routerLink="/newregistration"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">New registration</a>
            </li>
            <li class="nav-item mt-1">
               <a class="nav-link"
                  *ngIf="!isUserLogged"
                  routerLink="/login"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Login</a>
            </li>
         </ul>
         <ul class="navbar-nav">
            <li class="nav-item">
               <app-user-menu class="nav-link"
                              *ngIf="isUserLogged"
                              [displayUserName]="loggedUser.name"></app-user-menu>
            </li>
            <li class="nav-item">
               <app-logout-button class="nav-link"
                                  *ngIf="isUserLogged"></app-logout-button>
            </li>
         </ul>
      </div>
   </nav>
</div>
<p>Space</p>
<!-- Configurtion of the spinner to be displayed while loading by API -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
             size="medium"
             color="#fff"
             type="ball-spin-clockwise"
             [fullScreen]="true">
   <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid mt-5">
   <router-outlet></router-outlet>
   <app-footer></app-footer>
</div>