<div class="container-fluid">
   <h1 class="title">Citizen Engagement - Region Renan</h1>
   <!-- Handle Menu collapsed -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler navbar-toggler-right"
              type="button"
              (click)="isMenuCollapsed = !isMenuCollapsed"
              [attr.aria-expanded]="!isMenuCollapsed"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
           [collapse]=isMenuCollapsed
           id="
           navbarTogglerDemo03">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
               <a class="nav-link"
                  routerLink="/seeissues"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">See issues</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"
                  routerLink="/addissue"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Add an issue</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"
                  routerLink="/editissue/5f297015659f4400165b68c6/comments"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Edit issue comments</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"
                  routerLink="/editissue/5f297015659f4400165b68c6"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Edit issue 1</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"
                  routerLink="/editissue/5f286ad44916cb0016592c9b"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Edit issue 2</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"
                  routerLink="/map"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Map</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"
                  routerLink="/debugging"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Debugging</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"
                  routerLink="/newregistration"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">New registration</a>
            </li>


            <li class="nav-item">
               <a class="nav-link disabled"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                  (click)="isMenuCollapsed = true">Disabled</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"
                  *ngIf="!isUserLogged"
                  routerLink="/login"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true">Login</a>
            </li>
            <li class="nav-item">
               <app-logout-button class="nav-link"
                                  *ngIf="isUserLogged"></app-logout-button>
            </li>
            <li class="nav-item">
               <app-user-menu class="nav-link"
                              *ngIf="isUserLogged"
                              [displayUserName]="loggedUserName"></app-user-menu>
            </li>
         </ul>
         <!--  Not used
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"
                    type="submit">Search</button>
         </form> -->
      </div>
   </nav>
</div>
<p></p>

<div class="container-fluid">
   <div>
      <app-alert>Alert :</app-alert>
   </div>
   <router-outlet></router-outlet>
   <app-messages></app-messages>
</div>