@media (max-width: 576px){
    ul.collapse{
       display:none !important;
    }
 }
 
 @media (min-width: 576px){
    ul.full{
       display:none !important;
    }
 }

 .nav-item{
   padding:2px;
   margin-left: 7px;
}