<div class="container-fluid my-container">
  <div class="row">
    <div class="col-lg-4">
      <div>
        <h4>Login</h4>
      </div>
    </div>
    <div class="col-lg-8">
      <app-alert></app-alert>
    </div>
  </div>
  <hr>
  <div class="row my-row">
    <!-- Main row -->
    <div class="col-sm-8 col-lg-4">
      <form #loginForm="ngForm"
            (submit)="onSubmit(loginForm)">

        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control"
                 type="text"
                 name="username"
                 id="username"
                 #usernameField="ngModel"
                 maxlength="25"
                 pattern={{REGEXP_AlphaNumeric}}
                 required
                 [(ngModel)]="authRequest.name" />
          <p *ngIf="usernameField.hasError('required') && usernameField.touched">
            Username is required
          </p>
          <p *ngIf="usernameField.hasError('pattern') && usernameField.touched">
            Username must be in [a-zA-Z0-9]
          </p>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control"
                 type="password"
                 name="password"
                 id="password"
                 #passwordField="ngModel"
                 required
                 [(ngModel)]="authRequest.password" />
          <p *ngIf="passwordField.hasError('required') && passwordField.touched">
            Password is required
          </p>
        </div>
        <div class="form-group">
          <button class="form-control btn btn-primary col-4"
                  type="submit"
                  [disabled]="loginForm.invalid">Log in</button>
        </div>
      </form>
      <br>
      <p><strong>New user ?</strong> Please register</p>
      <div>
        <button class="btn btn-primary col-4"
                (click)="goToNewRegistration()">New user registration</button>
      </div>
    </div>
  </div>