<div class="container-fluid my-container">
    <div class="row">
        <div class="col-lg-5">
            <div>
                <h4>Manage issue comments</h4>
            </div>
        </div>
        <div class="col-lg-7">
            <app-alert>Alert :</app-alert>
        </div>
    </div>
    <hr>
    <div class="row my-row">
        <!-- Main row -->
        <div class="container-fluid col-md-5 my-container">
            <!-- Container for the Map-->
            <app-map [addNewMarkerOnMapAllowed]=addNewMarkerAllowed
                     [addAllMarkersOnMap]=displayAllMarkersOnMap
                     [applyCenterOnIssue]=true>Map</app-map>
        </div>
        <div class="container-fluid col-md-7 my-container">
            <button class="btn btn-info"
                    (click)="goBackToIssues()"><i class="fa fa-arrow-left"></i> Back to the issues</button>
            <p></p>
            <div class="row">
                <div class="col-1"><img src="{{issue.imageUrl}}"
                         alt=""
                         width="70">

                </div>
                <div class="col align-middle">
                    <h5><strong>{{issue.description}}</strong></h5>
                </div>

            </div>
            <br>
            <!-- Container for the data collect or display -->
            <!-- Template-driven method-->
            <!-- Form to add a new comment-->
            <h5>Add a new comment</h5>
            <form #AddCommentForm="ngForm">
                <div class="form-group form-inline my-form-group">
                    <input class="form-control col-6"
                           type="text"
                           name="comment"
                           id="comment"
                           #descriptionField="ngModel"
                           [(ngModel)]="this.newComment"
                           maxlength="1000"
                           required
                           ng-pattern
                           placeholder="Add a comment.." />
                    <button type="submit"
                            class="form-control ml-2 mr-2 col-md-2 btn btn-primary float-right"
                            [disabled]="!AddCommentForm.form.valid"
                            (click)="addNewComment()">Add</button>
                </div>
            </form>
            <br>
            <h5 class="">List of comments ({{issueComments.length}})</h5>
            <div *ngIf="(issueComments.length >0); else noResults">
                <pagination classid="paginationIssue"
                            [totalItems]="issueComments.length"
                            [(ngModel)]="issueCommentsCurrentPage"
                            [itemsPerPage]="issueCommentsPerPage"
                            (pageChanged)="pageChanged($event)"></pagination>
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col-md-8">Comments</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Author</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comment of currentIssueCommentsPage; "
                            scope="row">
                            <td>{{comment.text}}</td>
                            <td>{{comment.createdAt | date:'short'}} </td>
                            <td>{{comment.author.name }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #noResults>
                <p>No comments available for this issue.</p>
            </ng-template>

        </div>
        <br>
        <!-- DEBUG : 
        <p> Current comments: {{issueComments | json}}</p>
        -->
    </div>
</div>