<div class="container-fluid my-container">
    <div class="row">
        <div class="col-lg-5">
            <div>
                <h4 *ngIf=(isNewIssue)>Add an issue</h4>
                <h4 *ngIf="!isNewIssue && isEditableIssue">Edit an issue</h4>
                <h4 *ngIf="!isNewIssue && !isEditableIssue">View details of an issue</h4>
            </div>
        </div>
        <div class="col-lg-7">
            <app-alert>Alert :</app-alert>
        </div>
    </div>
    <hr>
    <!-- Main row -->
    <div class="row my-row">
        <!-- Main row -->
        <div class="container-fluid col-md-5 my-container">
            <!-- Container for the Map-->
            <app-map [displayIssueMarker]=displayIssueMarkerOnMap
                     [displayAllMarkers]=displayAllMarkersOnMap
                     [changeIssueMarkerAllowed]=changeIssueMarkerAllowedOnMap
                     [applyCenterOnIssue]=true>Map</app-map>
        </div>
        <div class="container-fluid col-md-7 my-container">
            <!-- Container for the data collect or display -->
            <div *ngIf=(!isNewIssue)><button class="btn btn-info"
                        (click)="goToAllIssues()"><i class="fa fa-arrow-left"></i> Back to the issues</button>
                <p></p>
                <hr>
            </div>
            <div class="row my-row"
                 *ngIf=(!isNewIssue)>
                <div class="col">
                    <div class="form-group my-form-group">
                        <label class="col-3 justify-content-start">Current state</label>
                        <!-- TODO create component to handle this (display correct colored button according to state ?!-->

                        <button [ngClass]="{'btn-secondary': issue.state === 'new'}"
                                class="btn mr-2">New</button>

                        <button [ngClass]="{'btn-info': issue.state === 'inProgress'}"
                                class="btn  mr-2">In progress</button>

                        <button [ngClass]="{'btn-danger': issue.state === 'rejected'}"
                                class="btn mr-2">Rejected</button>

                        <button [ngClass]="{'btn-success': issue.state === 'resolved'}"
                                class="btn mr-2">Resolved</button>
                    </div>
                </div>
            </div>
            <!-- Template-driven method-->
            <form #IssueForm="ngForm"
                  (submit)="onSubmit(IssueForm)">
                <div class="row my-ow">
                    <div class="col">
                        <div class="form-group form-inline my-form-group">
                            <label class="col-3 justify-content-start"
                                   for="issueTypes">Type of issues</label>
                            <select class="custom-select"
                                    #mySelect
                                    (change)='onIssueTypeSelected(mySelect.value)'
                                    [(ngModel)]="issue.issueTypeHref"
                                    required
                                    name="selectIssueType"
                                    [disabled]="!isEditableIssue">
                                <option disabled
                                        selected
                                        [ngValue]="null"> - Select one - </option>
                                <!-- Save href value in issueTypeHref but display issueType.description -->
                                <option [(ngValue)]="issueType.href"
                                        *ngFor="let issueType of issueTypes">
                                    {{issueType.description}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row my-row">
                    <div class="col">
                        <div class="form-group form-inline my-form-group">
                            <label class="col-3 justify-content-start"
                                   for="description">Description</label>
                            <input class="form-control col"
                                   type="text"
                                   name="description"
                                   id="description"
                                   #descriptionField="ngModel"
                                   required
                                   [(ngModel)]="issue.description"
                                   maxlength="1000"
                                   ng-pattern
                                   placeholder="Provide a description"
                                   [disabled]="!isEditableIssue" />
                            <p *ngIf="descriptionField.hasError('required') && descriptionField.touched">
                                Description is required
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row my-row">
                    <div class="col-3 my-col">
                        <label class="ml-3 justify-content-start "
                               for="location">Location</label>
                        <p *ngIf="isNewIssue || isEditableIssue"
                           class="ml-3"> (click on map to set)</p>
                    </div>
                    <div class="col my-col form-group form-inline my-form-group">
                        <div Class="row my-row">
                            <div class="col-5 col-sm-5 my-col form-group form-inline">
                                <label for="latitude"
                                       class="justify-content-start">Latitude</label>
                                <input class="form-control"
                                       type="text"
                                       name="location_lat"
                                       id="location_lat"
                                       #latitudeField="ngModel"
                                       required
                                       [(ngModel)]="issue.location.coordinates[0]"
                                       ng-pattern
                                       [disabled]="true" />
                            </div>
                            <div class="col-5 col-sm-5 my-col">
                                <div class="form-group form-inline">
                                    <label for="longitude"
                                           class="justify-content-start">Longitude</label>
                                    <input class="form-control"
                                           type="text"
                                           name="location_long"
                                           id="location_long"
                                           #longitudeField="ngModel"
                                           required
                                           [(ngModel)]="issue.location.coordinates[1]"
                                           ng-pattern
                                           [disabled]="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form-inline my-form-group">
                    <label class="col-3 justify-content-start"
                           for="tag">Tags</label>
                    <input class="form-control col-5"
                           type="text"
                           name="tag"
                           id="tag"
                           #descriptionField="ngModel"
                           [(ngModel)]="newTag"
                           maxlength="20"
                           ng-pattern
                           [disabled]="!isEditableIssue" />
                    <button class="form-control btn btn-primary ml-2"
                            type="button"
                            (click)="addTagToIssue()"
                            [hidden]="!isEditableIssue">Add this tag</button>
                </div>
                <div class="row my-row ml-10 mb-2">
                    <div class="col-3 my-col">
                        <label *ngIf="(issue.tags !== null && issue.tags.length > 0)"
                               class="ml-5"
                               for="currenttag">Current tags</label>
                    </div>
                    <div class="col my-col">
                        <div class="row my-row">
                            <div *ngFor="let tag of issue.tags; let i = index;">
                                <h5><span class="badge badge-light ml-1">{{tag}}</span>
                                    <!-- <button class="btn btn-xs btn-danger"
                                (click)="removeTag(i)"><i class="fa fa-trash"></i>
                        </button> -->
                                    <span *ngIf="isEditableIssue"
                                          class="badge badge-danger"
                                          (click)="removeTag(i)"><i class="fa fa-trash"></i>
                                    </span>
                                </h5>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group form-inline my-form-group">
                    <label class="col-3 justify-content-start"
                           for="tag">Picture URL</label>
                    <input class="form-control col-5"
                           type="text"
                           name="picture"
                           id="picture"
                           #descriptionField="ngModel"
                           [(ngModel)]="this.issue.imageUrl"
                           maxlength="500"
                           ng-pattern
                           [disabled]="!isEditableIssue" />
                    <img *ngIf="(issue.imageUrl !== null && issue.imageUrl.length > 0)"
                         src="{{this.issue.imageUrl}}"
                         alt="this.issue.imageUrl"
                         width="30" />

                    <button class="form-control ml-2 mr-2 btn btn-primary pull-right"
                            type="button"
                            [hidden]="!isEditableIssue"
                            (click)="addFakeImageURL()">Random</button>

                </div>

                <div class="form-group form-inline my-form-group">
                    <label class="col-3 justify-content-start"
                           for="additionalpictures">Additionnal pictures URL</label>
                    <input class="form-control col-5"
                           type="text"
                           name="additionalpictures"
                           id="additionalpictures"
                           #descriptionField="ngModel"
                           [(ngModel)]="newAdditionalPictureURL"
                           maxlength="500"
                           ng-pattern
                           [disabled]="!isEditableIssue" />
                    <img *ngIf="(newAdditionalPictureURL !== null && newAdditionalPictureURL.length > 0)"
                         src="{{newAdditionalPictureURL}}"
                         alt="this.issue.imageUrl"
                         width="30" />
                    <span>
                        <button class="form-control ml-2 mr-2 btn btn-primary pull-right"
                                type="button"
                                [hidden]="!isEditableIssue"
                                (click)="addAdditionalPictureToIssue()">Add this</button>
                        <button class="form-control ml-2 mr-2 btn btn-primary pull-right"
                                type="button"
                                [hidden]="!isEditableIssue"
                                (click)="addFakeaAdditionalImageURL()">Random</button>
                    </span>
                </div>

                <div class="row my-row ml-10 mb-2">
                    <div class="col-3 ml-2 my-col">
                        <label *ngIf="(issue.additionalImageUrls !== null && issue.additionalImageUrls.length > 0)"
                               class="ml-5"
                               for="
                        currenttag">Current pictures</label>
                    </div>
                    <div class="col my-col">
                        <div class="row my-row">
                            <div *ngFor="let picture of issue.additionalImageUrls; let pic = index;"
                                 class="card my-div"
                                 style="width: 7rem;">
                                <img class="card-img-top"
                                     src="{{picture}}"
                                     alt="Card image cap">
                                <span *ngIf="isEditableIssue"
                                      class="badge badge-danger"
                                      (click)="removePicture(pic)"><i class="fa fa-trash"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Bottom with buttons -->
                <div class="form-group">
                    <hr>
                    <div *ngIf="isEditableIssue"
                         class="row my-row">
                        <button class="form-control btn btn-success col-3"
                                type="submit"
                                [disabled]="IssueForm.invalid">
                            <ng-container *ngIf="isNewIssue">Create</ng-container>
                            <ng-container *ngIf="!isNewIssue">Update</ng-container>
                        </button>

                        <p *ngIf="issueError">
                            Unable to create the new issue. See the log for more information.
                        </p>
                        <button *ngIf=(!isNewIssue)
                                class="form-control btn btn-danger col-3 offset-1"
                                type="button"
                                (click)="deleteIssue()">Delete</button>

                        <button class="form-control btn btn-warning col-3 offset-1"
                                type="button"
                                (click)="goToAllIssues()">Cancel</button>
                    </div>
                </div>
            </form>
            <!-- DEBUG : 
            <p> Current issue: {{issue | json}}</p>
            -->
        </div>
    </div>
</div>