<div class="container-fluid boxDiv">
    <div class="row rowDiv">
        <!-- Main row -->
        <div class="container-fluid col-6 boxDiv"
             col-4>
            <!-- Container for the Map-->
            <app-map>Map</app-map>
        </div>
        <div class="container-fluid col-6 boxDiv">
            <!-- Container for the data collect or display -->
            <h4>Current state</h4>
            <div class="row rowDiv">
                <!-- TODO Hide if add newIssue / show only in Viewissue-->
                <!-- TODO create component to handle this ?!-->
                <div class="col-3 justify-content-md-center">
                    <button>New</button>
                </div>
                <div class="col-3 justify-content-md-center">
                    <button>In progress</button>
                </div>
                <div class="col-3 justify-content-md-center">
                    <button>Rejected</button>
                </div>
                <div class="col-3 justify-content-md-center">
                    <button>Resolved</button>
                </div>
            </div>
            <h4>Issue</h4>
            <!-- Template-driven method-->
            <form #IssueForm="ngForm"
                  (submit)="onSubmit(IssueForm)">
                <div class="form-group">
                    <label for="issueTypes">Type of issues</label>
                    <select class="custom-select"
                            #mySelect
                            (change)='onIssueTypeSelected(mySelect.value)'>
                        <option value=""
                                disabled
                                selected></option>
                        <option *ngFor="let issueType of issueTypes">
                            {{issueType.description}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control"
                           type="text"
                           name="description"
                           id="description"
                           #descriptionField="ngModel"
                           required
                           [(ngModel)]="newIssue.description"
                           maxlength="1000"
                           ng-pattern />
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control col-5"
                           type="text"
                           name="location_lat"
                           id="location_lat"
                           #latitudeField="ngModel"
                           required
                           [(ngModel)]="currentLocationLat"
                           ng-pattern />
                    <input class="form-control col-5"
                           type="text"
                           name="location_long"
                           id="location_long"
                           #longitudeField="ngModel"
                           required
                           [(ngModel)]="currentLocationLong"
                           ng-pattern />
                </div>

                <!-- TODO : Add tags fields -->

                <!-- Bottom with buttons -->
                <div class="form-group">
                    <div class="row rowDiv">
                        <button class="form-control btn btn-primary col-4"
                                type="submit"
                                [disabled]="IssueForm.invalid">Create</button>
                        <p *ngIf="newIssueError">
                            Unable to create the new issue. See the log for more information.
                        </p>
                        <button class="form-control btn btn-primary col-4 offset-4"
                                type="button"
                                (click)="goToAllIssues()">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>