<h2>New registration</h2>
<form #newRegForm="ngForm" (submit)="onSubmit(newRegForm)">
  <div>
    <!-- DONE : Limit size and char allowed in API-->
    <label for="username">Username</label>
    <input type="text" name="username" id="username" #usernameField="ngModel" required [(ngModel)]="newUser.name"
      maxlength="25" pattern="^[a-zA-Z0-9]+$" ng-pattern />
    <p *ngIf="usernameField.hasError('required') && usernameField.touched">
      Username is required
    </p>
    <p *ngIf="usernameField.hasError('pattern') && usernameField.touched">
      Username must be in [a-zA-Z0-9]
    </p>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" #passwordField="ngModel" required
      [(ngModel)]="newUser.password" maxlength="25" minlength="4" />
    <p *ngIf="passwordField.hasError('required') && passwordField.touched">
      Password is required
    </p>
    <p *ngIf="passwordField.hasError('minlength') || passwordField.hasError('maxlength') && passwordField.touched">
      PAssword must be at least 4 characters and max 25 characters long.
    </p>
  </div>
  <!-- Add confirmation password -->
  <div>
    <label for="firstname">First name</label>
    <input type="text" name="firstname" id="firstname" #firstnameField="ngModel" required
      [(ngModel)]="newUser.firstname" minlength="2" maxlength="25" />
    <p *ngIf="firstnameField.hasError('required') && firstnameField.touched">
      Firstname is required
    </p>
    <p *ngIf="firstnameField.hasError('minlength') || firstnameField.hasError('maxlength') && firstnameField.touched">
      Firstname must be at least 2 characters and max 25 characters long.
    </p>
  </div>
  <div>
    <label for="lastname">Last name</label>
    <input type="text" name="lastname" id="lastname" #lastnameField="ngModel" required [(ngModel)]="newUser.lastname"
      minlength="2" maxlength="25" />
    <p *ngIf="lastnameField.hasError('required') && lastnameField.touched">
      Lastname is required
    </p>
    <p *ngIf="lastnameField.hasError('minlength') || lastnameField.hasError('maxlength') && lastnameField.touched">
      Lastname must be at least 4 characters and max 25 characters long.
    </p>

  </div>
  <div>
    <label for="phone">Phone</label>
    <!-- TODO : Define better pattern for phone -->
    <input type="text" name="phone" id="phone" #phoneField="ngModel" [(ngModel)]="newUser.phone" maxlength="20"
      pattern="^[0-9]+$" ng-pattern />
    <p *ngIf="phoneField.hasError('pattern') && phoneField.touched">
      Phone must be in [-\s\./0-9]*$]
    </p>
  </div>
  <div>
    <!-- TODO provide choice and hide if not staff user -->
    <label for="roles">Roles</label>
    <input type="text" value="citizen" name="roles" id="roles" #rolesField="ngModel" [(ngModel)]="newUser.roles"
      required />
    <p *ngIf="rolesField.hasError('required') && rolesField.touched">
      Roles is required
    </p>
  </div>
  <div>
    <button type="submit" [disabled]="newRegForm.invalid">Create</button>
    <p *ngIf="newRegError">
      Unable to create the new user. See the log for more information.
    </p>
  </div>
</form>