<h2>New registration</h2>
<!-- Template-driven method-->
<form #newRegForm="ngForm"
      (submit)="onSubmit(newRegForm)">
  <div class="container col-12">
    <div class="form-group col-4">
      <!-- DONE : Limit size and char allowed in API-->
      <label for="username">Username</label>
      <input class="form-control"
             type="text"
             name="username"
             id="username"
             #usernameField="ngModel"
             required
             [(ngModel)]="newUser.name"
             maxlength="25"
             pattern="^[a-zA-Z0-9]+$"
             ng-pattern />
      <p *ngIf="usernameField.hasError('required') && usernameField.touched">
        Username is required
      </p>
      <p *ngIf="usernameField.hasError('pattern') && usernameField.touched">
        Username must be in [a-zA-Z0-9]
      </p>
    </div>
    <div class="form-group col-4">
      <label for="password">Password</label>
      <input class="form-control"
             type="password"
             name="password"
             id="password"
             #passwordField="ngModel"
             required
             [(ngModel)]="newUser.password"
             maxlength="25"
             minlength="4" />
      <p *ngIf="passwordField.hasError('required') && passwordField.touched">
        Password is required
      </p>
      <p *ngIf="passwordField.hasError('minlength') || passwordField.hasError('maxlength') && passwordField.touched">
        PAssword must be at least 4 characters and max 25 characters long.
      </p>
    </div>
    <!-- Add confirmation password -->
    <div class="form-group col-4">
      <label for="firstname">First name</label>
      <input class="form-control"
             type="text"
             name="firstname"
             id="firstname"
             #firstnameField="ngModel"
             required
             [(ngModel)]="newUser.firstname"
             minlength="2"
             maxlength="25" />
      <p *ngIf="firstnameField.hasError('required') && firstnameField.touched">
        Firstname is required
      </p>
      <p *ngIf="firstnameField.hasError('minlength') || firstnameField.hasError('maxlength') && firstnameField.touched">
        Firstname must be at least 2 characters and max 25 characters long.
      </p>
    </div>
    <div class="form-group col-4">
      <label for="lastname">Last name</label>
      <input class="form-control"
             type="text"
             name="lastname"
             id="lastname"
             #lastnameField="ngModel"
             required
             [(ngModel)]="newUser.lastname"
             minlength="2"
             maxlength="25" />
      <p *ngIf="lastnameField.hasError('required') && lastnameField.touched">
        Lastname is required
      </p>
      <p *ngIf="lastnameField.hasError('minlength') || lastnameField.hasError('maxlength') && lastnameField.touched">
        Lastname must be at least 4 characters and max 25 characters long.
      </p>

  </div>
  <div>
    <label for="phone">Phone</label>
    <!-- TODO : Define better pattern for phone -->
    <input type="text" name="phone" id="phone" #phoneField="ngModel" [(ngModel)]="newUser.phone" maxlength="20"
      pattern="^[0-9]+$" ng-pattern />
    <p *ngIf="phoneField.hasError('pattern') && phoneField.touched">
      Phone must be in [-\s\./0-9]*$]
    </p>
  </div>
  <!-- TODO provide choice and hide if not staff user -->
  <div>
    <label for="roles">Roles</label>
    <input type="checkbox" name="Citizen" [(ngModel)]="newUserIsCitizen">Citizen
    <input type="checkbox" name="Staff" [(ngModel)]="newUserIsStaff">Staff
  </div>
  <div>
    <button type="submit" [disabled]="newRegForm.invalid">Create</button>
    <p *ngIf="newRegError">
      Unable to create the new user. See the log for more information.
    </p>
  </div>
</form>