<div class="container-fluid my-container">
        <div class="row">
                <div class="col-lg-4">
                        <h4>Debbuging page</h4>
                </div>
                <div class="col-lg-8">
                        <app-alert>Alert :</app-alert>
                </div>
        </div>
        <hr>
        <button class="btn btn-info m-1"
                (click)="alertService.info('Some info....', options)">Info</button>

        <button class="btn btn-info m-1"
                (click)="goToIssueNbRoute()">Edit Issue nb X</button>

        <button class="btn btn-info m-1"
                (click)="loadIssueComments()">Load Issue comment</button>

        <div class="row">
                <div class="col-xs-12 col-12">
                        <pagination [totalItems]="totalItems"
                                    [(ngModel)]="currentPage"></pagination>
                </div>
        </div>
        <button type="button"
                class="btn btn-info"
                (click)="setPage(3)">Set current page to: 3</button>
        <br>
        <button type="button"
                class="btn btn-info"
                (click)="loadIssuesByPage()">Load issue by Page</button>
        <br>
        <div>
                <app-logout-button></app-logout-button>
        </div>

</div>